.main-header {
    display: flex;
    height: 25px;
    flex-direction: row;
}

.main-nav {
    &__items {
        padding: 0;
        margin: 0;
        display: none;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        list-style: none;
        position: absolute;
        height: 100vh;
        width: 100vw;
        z-index: 9;
    }
    &--opened > .main-nav__items {
        display: flex;
        position: fixed;
        background-color: #fbf5f4;
        opacity: 0.9;
        padding: 180px 0;
        top: 0;
        right: 0;
        left: 0;
    }
    &__item {
        text-decoration: none;
        color: rgba(#000000, 0.5);
        font-family: "Geometria";
        font-size: 24px;
        outline-color: #f78e6a;
        &:hover {
            color: #000000;
        }
        &--active {
            color: #000000;
        }
    }
}

.hamburger {
    width: 20px;
    height: 16px;
    margin-top: 6px;
    margin-left: 5px;
    box-sizing: border-box;
    padding: 0;
    background-color: transparent;
    border: none;
    position: relative;
    display: flex;
    flex-direction: column;
    outline: 2px #f78e6a;
    &:focus{
        box-shadow: 0 0 7px 3px #f78e6a;
        }
    &:hover {
        box-shadow: 0 0 7px 3px #f78e6a;
    }
    &--active {
        z-index: 10;
        position: absolute;
        top: 20px;
        height: 20px;
        .hamburger__line--top{
            transform: rotate(45deg);
            width: 20px;
            top: 10px;
            &:before {
                display: none;
            }
        }
        .hamburger__line--bottom {
            transform: rotate(-45deg);
            width: 20px;
            bottom: 10px;
            &:before {
                display: none;
            }
        }
        .hamburger__line--middle {
            display: none;
        }
        & ~ .main-nav__items {
                display: flex;
                position: fixed;
                background-color: #fbf5f4;
                opacity: 0.9;
                padding: 180px 0;
                top: 0;
                right: 0;
                left: 0;
        }
    }

    &__line {
        display: inline-block;
        height: 2px;
        width: 20px;
        background-color: #f78e6a;
        position: absolute;
        &:before {
            position: absolute;
            left: -4px;
            content: "";
            width: 2px;
            height: 2px;
            display: block;
            background-color: #000000;
        }

        &--top {
            top: 0;
        }

        &--middle {
            top: 7px;
        }

        &--bottom {
            width: 14px;
            bottom: 0;
            left: 0;
        }
    }
}

.main__logo {
    margin-left: auto;

    &--desktop {
        display: none;
    }
}

.menu__title {
    display: none;
}

.page__title {
    display: none;
}

.page__phone {
    display: none;
}

@media screen and (min-width: 768px) {
    .main-header {
        justify-content: space-between;
        padding: 0;
        padding-top: 27px;
    }

    .hamburger {
        margin-right: 14px;
        float: left;
    }

    .main-nav {
        padding: 0;
        padding-left: 4px;
        margin-top: -1px;
    }

    .menu__title {
        display: flex;
        color: #000000;
        font-family: "Geometria";
        font-size: 18px;
        font-weight: 400;
    }

    .page__phone {
        display: flex;
        color: #000000;
        font-family: "Montserrat";
        font-size: 18px;
        text-decoration: none;
        font-weight: 500;
    }

    .main__logo {
        margin: 0 auto;
        margin-right: 168px;
        margin-top: -5px;
    }


}

@media screen and (min-width: 1920px) {

    .main-header {
        padding-top: 68px;
    }

    .page__phone {
        margin-right: -1px;
    }

    .page__title {
        display: flex;
        color: #000000;
        margin: 0;
        align-self: center;
        line-height: 18px;
        font-family: "Geometria";
        font-size: 18px;
        font-weight: 400;
        position: relative;
        margin-right: -273px;

        &:before {
            border-radius: 50%;
            top: calc(50% - 3px);
            left: -15px;
            content: "";
            display: inline-block;
            position: absolute;
            width: 6px;
            height: 6px;
            background-color: #f78e6a;
        }
    }

    .main__logo {
        display: none;

        &--desktop {
            display: flex;
            margin: 0;
        }
    }

    .main-nav--opened {
        position: relative;

        .main-nav__items {
            display: inline-block;
            text-align: left;
            height: auto;
            width: auto;
            top: 0;

        }

        .main-nav__link {
            margin-bottom: 27px;
        }
    }
}