.clients-page {
    box-sizing: border-box;
    min-width: calc(375px);
    width: calc(100vw - 20px);
    min-height: calc(812px);
    height: 100vh;
    background-color: #fbf5f4;
    padding: 0 14px 0 20px;
    position: relative;
    overflow: hidden;
}
.clients__bio {
    margin: 0;
    padding: 0;
    list-style: none;
}
.client__bio {
    display: none;
    &--active {
        display: block;
    }
}
.clients__content {
    padding:0;
    display: flex;
    height: 100%;
    flex-direction: column;
}
.client-page__logo--mobile {
    display: none;
}

.client__name {
color: #010101;
font-family: "Geometria";
font-size: 30px;
font-weight: 400;
line-height: 40px;
margin: 0;
}
.client__age {
color: #000000;
font-family: "Geometria";
font-size: 18px;
font-weight: 400;
line-height: 24px;
margin: 0;
}
.client__desc {
    margin: 0;
width: 340px;
color: #000000;
font-family: "Geometria";
font-size: 16px;
font-weight: 300;
line-height: 30px;
&--mobile {
    display: none;
}
}
.review__link {
color: #f78e6a;
font-family: "Geometria";
font-size: 16px;
font-weight: 300;
line-height: 30px;
margin-top: 27px;
margin-bottom: 46px;
display: block;
}
.client__lists {
    display: none;
    padding: 0;
    margin: 0;
    list-style: none;
}
.client__list {
margin-bottom: 26px;
}
.page-swiper--left {
    left: unset; 
    right: 40px; 
}
@media screen and (min-width: 768px) {
    .clients-page {
        min-width: 768px;
        min-height: 1024px;
        padding: 0 30px;
    }
    .client__portrait {
        width: 340px;
        height: 160px;
        margin-bottom: 45px;
    }
    .client__img {
        display: inline-block;
        margin-right: 40px;
        float: left;
    }
    .client__age {
        display: inline-block;
    }
    .client__name {
        display: inline-block;
        width: 135px;
        margin-top: 45px;
        margin-bottom: 20px;
    }
    .client__desc--mobile {
        display: block;
    }
    .review__link {
        display: none;
    }
    .client__desc {
        width: 440px;
        margin-bottom: 33px;
        &--mobile {
            width: 475px;
        }
    }
    .clients__content {
        flex-direction: row;
        position: relative;
    }
    .client__lists {
        display: block;
        min-width: 172px;
        .list__link--active:before {
            content: "Client —";
            left: -81px;
        }
    }
    .client-page__logo {
        display: block;
        position: absolute;
        bottom: -23px;
        right: 3px;
        z-index: 1;
    }
    .clients__bio {
        z-index: 3;
        margin-right: 80px;
    }
}

@media screen and (min-width: 1920px) {
    .clients-page {
        min-width: 1920px;
        min-height: 1080px;
        padding: 0 90px;
    }
    .clients__content {
        align-items: center;
    }
    .client__lists {
        order: 2;
        margin-top: 70px;
        margin-left: 31px;
        margin-bottom: auto;
    }
    .clients__bio {
        order: 4;
        margin: 0;
        margin-top: 70px;
        margin-bottom: auto;
        margin-left: 560px;
    }
    .client-page__logo {
        top: unset;
        bottom: 102px;
        left: 37px;
        right: unset;
        order: 3;
    }
}