
.contacts-hero {
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: left;
    padding-bottom: 50px;
}

.map__logo--mobile {
    position: absolute;
    top: -14px;
    left: calc(49% + 1px);
    margin-left: -187px;
    margin-right: -187px;
}

.adress__title {
    line-height: 16px;
    font-family: "Geometria";
    font-size: 14px;
    font-weight: 300;
}

.adress__loc,
.adress__email {

    color: #000000;
    font-family: "Geometria";
    font-size: 18px;
    font-weight: 300;
    line-height: 30px;
}

.adress__copyrights {
    color: #000000;
    font-family: "Geometria";
    font-size: 14px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: -0.1px;
}
.adress__links {
    margin-bottom: 30px;
}
.adress__link {
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.link__icon {
    display: inline-block;
    width: 30px;
    margin-right: 10px;
    height: 30px;
    position: relative;
    border-radius: 50%;
    background-color: #ffffff;
    background-image: linear-gradient(to top, #f78e6a 0%, #fc66a2 100%);

    &:before {
        position: absolute;
        display: inline-block;
        left: 50%;
        z-index: 10;
    }

    &--loc {
        &:before {
            content: url(/img/btn_icon_location.png);
            width: 12px;
            height: 14px;
            margin-left: -6px;
            top: 7px;

        }
    }

    &--review:before {
        content: url(/img/btn_icon_envelope.png);
        width: 14px;
        height: 10px;
        margin-left: -7px;
        top: 5px;

    }
}

.link__map,
.link__review {
    vertical-align: top;
    color: #000000;
    font-family: "Geometria";
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
}

.contacts__btn {
    margin: 0;
    margin-top: 26px;
}

.contacts__adress {
    margin: 0;
    margin-top: 269px;
    width: 100%;
    
}
.adress__desc {
margin: 0;
margin-bottom: 18px; 
    &:nth-child(2) {
        margin-bottom: 33px;
    }
}
.adress__title {
    display: inline-block;
    margin-bottom: 5px;
}

@media screen and (min-width: 768px) {

    .contacts-hero {
        position: relative;
        align-items: flex-start;
        padding-top: 252px;
    }

    .map__logo--mobile {
        display: initial;
        position: absolute;
        top: 102px;
        left: 50%;
        margin-left: -384px;
        margin-right: -384px;

        background-image:
            linear-gradient(to top, rgba(251, 245, 244, 0) 0%, #fbf5f4 100%),
            linear-gradient(to left, rgba(251, 245, 244, 0) 0%, #fbf5f4 100%),
            linear-gradient(to right, rgba(251, 245, 244, 0) 0%, #fbf5f4 100%),
            linear-gradient(to bottom, rgba(251, 245, 244, 0) 0%, #fbf5f4 100%);
    }

    .contacts__adress {
        margin: 0px;
        z-index: 2;
    }
    .contacts__btn {
        margin-top: 36px;
    }
}

@media screen and (min-width: 1920px) {

    .contacts-hero {
        padding: 0;
        flex-direction: row;
        align-items: center;
    }

    .map__logo--mobile {
        order: 2;
        margin-left: 112px;
        margin-right: 100px;
    }

    .contacts__adress {
        order: 3;
        margin-top: -2px;
        margin-left: -1px;
    }

    .map__logo--mobile {
        display: flex;
        position: unset;
    }

}