@font-face  {
    font-family: "Geometria"; 
   src: url("/fonts/Geometria.ttf");
   font-weight: 400;
}
@font-face {
    font-family:"Geometria"; 
    src: url("/fonts/Geometria-Medium.ttf");
    font-weight: 500;
  }
@font-face {
    font-family: "Geometria - Extra Light";
    src: url(/fonts/Geometria-ExtraLight.ttf);
    font-weight: 400;
}
@import "norm.css";
html {
    scroll-behavior: smooth;
}
* {
    box-sizing: border-box;
}
body {
    background-color: #fbf5f4;
    color: #000000;
    margin: 0;
    padding: 0;
}
.container {
    margin: 0 auto;
    height: 100%;
    box-sizing: border-box;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

picture {
    display: block;
}
.btn {
    display: inline-block;
    border-radius: 50%;
width: 50px;
height: 50px;
background-color: #f78e6a;
background-image: linear-gradient(to top, rgba(247, 142, 106, 0) 0%, #fc66a2 100%);
}
@media screen and (min-width: 1920px) {
    .btn {
        width: 60px;
        height: 60px;
         &:after {
            left: 29px;
            top: 20px;
            height: 20px;
        }
        &:before {
            height: 20px;
            top: 20px;
            left: 29px;
        }
    }
}
@import "_main-header.scss";
@import "_main-footer.scss";
@import "_page-content.scss";
@import "screen-page.scss";
@import "main-page.scss";
@import "directions.scss";
@import "form.scss";
@import "trainers.scss";
@import "tickets.scss";
@import "schedule.scss";
@import "clients-page.scss";
@import "form-8.scss";
@import "contacts.scss";