.schedule-page {
    box-sizing: border-box;
    min-width: calc(375px);
    width: calc(100vw - 20px);
    min-height: calc(812px);
    height: 100vh;
    background-color: #fbf5f4;
    padding: 0 14px 0px 20px;
    position: relative;
    overflow: hidden;
}
.schedule-hero {
    height: 100%;
    padding: 0;
}
.schedule-menu__items {
    display: grid;
    grid-template-rows: repeat(8, 76px);
    grid-template-columns: repeat(7, 201px);
    grid-gap: 2px;
    list-style: none;
    &>li {
        text-align: center;
        color: #010101;
        font-weight: 300;
    }
    &>li:nth-child(-n+7) {
        color: #f78e6a;
        font-weight: 700;
    }
    &>li:nth-child(7n+8) {
        color: #f78e6a;
        font-weight: 700;
    }
    &>li:first-child {
    text-align: left;
    color: #010101;
    }
}

.item__content {
    box-sizing: border-box;
    background-color: #ffffff;
    padding: 30px 20px 0 20px;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    font-family: "Geometria";
    font-size: 14px;
    vertical-align: top;
}
.schedule-item__icon {
    width: 30px;
    float: left;
    height: 30px;
    display: inline-block;
    margin-right: 20px;
    background: url(/img/btn_download.png) no-repeat;
}
.schedule-menu__link {
text-decoration: none;
color: #010101;
font-weight: 300;
}


@media screen and (min-width: 768px) {
    .schedule-page {
        min-width: 768px;
        min-height: 1024px;
        padding: 0 30px; 
    }
    .schedule-hero {
    }
}
@media screen and (min-width: 1920px) {
    .schedule-page {
        min-width: 1920px;
    min-height: 1080px;
    padding: 0 90px;
    }
    .schedule-hero {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .schedule-menu__items {
        margin-left: 112px;
        margin-right: 75px;
    }
}