.tickets__content {
 align-items: unset;
}
.tickets-hero {
    padding: 0;
    position: relative;
    height: 100%;
}
.tickets__items {
    display: grid;
    grid-template-rows: 140px;
    grid-template-columns: 280px 280px;
    grid-gap: 4px;
    margin-top: 103px;
    margin-left: 1px;
    position: relative;
    z-index: 5;
}

.ticket__item {
    width: 280px;
    height: 140px;
    background-color: #ffffff;

    & input[type=radio]:checked {
        .item__icon {
            background-color: #ffffff;
            background-image: linear-gradient(to right, #f78e6a 0%, #fc66a2 100%);
        }
    }
    & input[type=radio] {
        display: none;
    }
}
.ticket__wrapper {
    padding: 35px 40px 35px 38px;
    position: relative;
}
.item__name {
color: #000000;
font-family: "Geometria";
font-size: 18px;
font-weight: 300;
line-height: 20px;
margin: 0;
padding: 0;
margin-bottom: 18px;
letter-spacing: -0.1px;
}

.item__icon {
    display: inline-block;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-color: #f7f3f2;
    position: absolute;

top: 49px;
right: 20px;

    &:before {
        content: "";
        display: inline-block;
        position: absolute;
        width: 2px;
        height: 12px;
        background-color: #c9c4c3;
        left: calc(50% - 1px);
        top: 35%;
        transform: rotate(90deg);
    }

    &:after {
        content: "";
        position: absolute;
        display: inline-block;
        width: 2px;
        left: calc(50% - 1px);
        top: 35%;
        height: 12px;
        background-color: #c9c4c3;
    }
}

.ticket__item  input[type=radio]:checked + label .ticket__wrapper {
    .item__icon {
        background-color: #ffffff;
        background-image: linear-gradient(to right, #f78e6a 0%, #fc66a2 100%);
        &:before {
            background-color: #fff;
        }
        &:after {
            background-color: #fff;
        }
    }
}
.item__price {
background-image: linear-gradient(to top, #f78e6a 0%, #fc66a2 100%);
background-clip: text;
-webkit-text-fill-color: transparent;
-webkit-background-clip: text;
color: #f78e6a;
font-family: "Geometria";
font-size: 24px;
font-weight: 700;
line-height: 20px;
margin-left: 2px;
margin-right: 2px;
}
.item__currency {
color: #000000;
font-family: "Geometria";
font-size: 18px;
font-weight: 300;
line-height: 20px;
}
.tickets__logo--mobile {
    display: none;
}
.tickets__btn--inside {
    width: 60px;
    height: 60px;
    position: absolute;
    left: 0;
    top: 0;
    background-image: linear-gradient(to right, rgba(247, 142, 106, 0) 0%, #fc66a2 100%);

    &:before {
        content: "";
        display: inline-block;
        width: 18px;
        height: 14px;
        background-image: url(./../img/btn_checked.png);
        background-repeat: no-repeat;
        transform: rotate(0deg);
        background-color: transparent;
        top: calc(50% - 6px);
        left: calc(50% - 6px);
    }
    &:after {
        display: none;
    }
}
.tickets-btn {
    background-image: none;
    display: inline-block;
    width: 290px;
    height: 60px;
    box-sizing: border-box;
    border-radius: 29px;
    background-color: #f78e6a;
    color: #ffffff;
    font-family: "Geometria";
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    position: relative;
    margin: 0 auto;
    margin-top: 36px;
    padding-top: 17px;
    padding-left: 81px;
    text-decoration: none;

    &:hover {
        box-shadow: 0 0 50px rgba(0, 0, 0, 0.1);
    }
}

@media screen and (min-width: 768px) {
    .tickets-hero {
        padding: 0;
    }
    .tickets__content {
        position: relative;
        align-items: center;
    }
    .tickets__items {
    margin-top: 0;
    }
    .tickets__logo--mobile {
        display: initial;
        position: absolute;
        z-index: 2;
        right: -19px;
        bottom: 212px;
    }
    .tickets-btn {
        margin-top: 55px;
        padding-top: 17px;
    }
}

@media screen and (min-width: 1920px) {

    .tickets-hero {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .tickets__logo--mobile {
        position: initial;
        margin-left: 160px;
        margin-top: -18px;
        margin-right: 188px;
        order: 2;
    }
    .tickets__items {
        order: 3;
        margin-top: -69px;
    }
    .ticket__wrapper {
        padding: 36px 40px 35px 37px;
    }
    .item__name {
        margin-bottom: 19px;
    }
    .item__icon {
        top: 50px;
        right: 21px;
    }
    .tickets-btn {
        margin-top: 56px;
        width: 292px;
        margin-left: -2px;
    }
}