@charset "UTF-8";
.trainer__photo {
  position: absolute;
  left: calc(50% - 168px / 2);
  top: -26px; }

.trainers__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative; }

.trainer__swiper {
  position: absolute;
  top: 114px; }
  .trainer__swiper--left {
    left: 0; }
  .trainer__swiper--right {
    right: 0; }

.trainers__bio {
  padding: 0;
  margin: 0;
  list-style: none; }

.trainer__img {
  width: 124px;
  margin: 0 auto;
  height: 125px;
  border-radius: 50%;
  background-image: linear-gradient(to top, #f78e6a 0%, #fc66a2 100%); }
  .trainer__img--desktop {
    display: none; }

.trainer__portrait {
  padding-top: 21px;
  box-sizing: border-box;
  height: 275px;
  position: relative;
  margin-bottom: 30px; }

.trainer__photo--desktop {
  display: none; }

.trainer__name {
  color: #000000;
  font-family: "Geometria";
  font-size: 40px;
  font-weight: 400;
  line-height: 36px;
  margin: 0;
  margin-bottom: 20px; }

.trainer__title {
  color: #000000;
  font-family: "Geometria";
  font-size: 18px;
  font-weight: 400;
  line-height: 36px;
  margin: 0;
  margin-bottom: 35px; }

.trainer__desc {
  color: #000000;
  font-family: "Geometria";
  font-size: 16px;
  font-weight: 300;
  line-height: 30px;
  margin-bottom: 38px; }
  .trainer__desc--mobile {
    display: none; }

.trainer__lists {
  display: none; }

@media screen and (min-width: 768px) {
  .trainer__swiper {
    display: none; }
  .trainers {
    min-width: 768px;
    min-height: 1024px;
    padding: 0 30px; }
  .trainers__bio {
    max-width: 415px;
    display: flex; }
  .trainer {
    box-sizing: border-box;
    display: block; }
  .trainer__lists {
    display: flex;
    padding: 0;
    margin: 0;
    margin-left: auto;
    flex-direction: column;
    list-style: none;
    margin-right: 0; }
  .trainer__list {
    margin-bottom: 26px; }
  .trainer__photo--mobile {
    display: none; }
  .trainer__photo--desktop {
    display: flex; }
  .trainer__portrait {
    display: none; }
  .trainer__name {
    font-size: 48px;
    margin: 0;
    margin-bottom: 25px; }
  .trainer__title {
    font-size: 24px;
    margin: 0;
    margin-bottom: 54px; }
  .trainer__desc--mobile {
    display: block; }
  .list__link--active:before {
    content: "Trainer —";
    left: -90px; }
  .trainers__content {
    margin-top: 105px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; }
  .trainer__img--desktop {
    display: flex;
    order: 4;
    position: relative;
    margin-right: 0;
    background: url(/img/768_trainer-bg.png) no-repeat;
    height: 207px;
    width: 207px;
    margin-top: -130px; }
  .trainer__photo--desktop {
    position: absolute;
    top: -90px;
    left: -40px;
    display: initial; } }
