
.trainer__photo {
    position: absolute;
    left: calc(50% - 152px / 2);
    top: -50px;
}

.trainers__content {
  padding-top: 29px;
}

.trainer__swiper {
    position: absolute;
    margin: 0;
    top: 139px;
    &--left {
        transform: rotate(90deg);
        left: 0 !important;
        right: unset !important;
    }

    &--right {
        transform: rotate(270deg);
        right: 4px !important;
        left:unset !important;
    }
}
.trainers__bio {
    padding: 0;
    margin: 0;
    list-style: none;
}
.trainer__img {
    width: 124px;
    margin: 0 auto;
    margin-left: calc(50% - 52px);
    height: 125px;
    border-radius: 50%;
    background-image: linear-gradient(to top, #f78e6a 0%, #fc66a2 100%);
    &--desktop {
        display: none;
    }
}
.trainer__portrait {
    box-sizing: border-box;
    height: 275px;
    position: relative;
}
.trainer__photo--desktop {
    display: none;
}

.trainer__name {
    color: #000000;
    font-family: "Geometria";
    font-size: 40px;
    font-weight: 400;
    line-height: 36px;
    margin: 0;
    margin-top: 2px;
    margin-bottom: 5px;
    letter-spacing: -0.3px;
}

.trainer__title {

    color: #000000;
    font-family: "Geometria";
    font-size: 18px;
    font-weight: 400;
    line-height: 36px;
    margin: 0;
    margin-bottom: 23px;
}
.trainer-btn {
    background-image: none;
    display: inline-block;
    width: 304px;
    height: 60px;
    box-sizing: border-box;
    border-radius: 29px;
    background-color: #f78e6a;
    color: #ffffff;
    font-family: "Geometria";
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    position: relative;
    margin: 0 auto;
    padding-top: 17px;
    padding-left: 80px;
    text-decoration: none;

    &:hover {
        box-shadow: 0 0 50px rgba(0, 0, 0, 0.1);
        background-color: #ffffff;
        background-image: linear-gradient(90deg, #f78e6a 0%, #fc66a2 100%);
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}
.trainer__desc {
    color: #000000;
    font-family: "Geometria";
    font-size: 16px;
    font-weight: 300;
    line-height: 30px;
    margin-bottom: 30px;
    letter-spacing: -0.1px;
    &--mobile {
        display: none;
    }
}
.trainer__lists {
    display: none;
}

@media screen and (min-width: 768px) {
    .trainer__swiper {
        display: none;
    }
    .trainers__bio {
        max-width: 415px;
        display: flex;
        margin-right: 30px;
    }
    .trainers__content {
        padding: 0;
        padding-top: 104px;
        align-items: flex-start;
    }
    .trainer {
        box-sizing: border-box;
        display: block;
    }
    .trainer__lists {
display: flex;
padding: 0;
margin: 0 auto;
flex-direction: column;
     list-style: none;
    }
    .trainer__list {
        margin-bottom: 26px;
    }
    .trainer__photo {
        &--mobile {
            display: none;
        }
        &--desktop {
            display: flex;
        }
    }
    .trainer__portrait {
        display: none;
    }

    .trainer__name {
        font-size: 48px;
        margin: 0;
        margin-bottom: 21px;
    }

    .trainer__title {
        font-size: 24px;
        margin: 0;
        margin-bottom: 41px;
    }

    .trainer__desc {
        margin-bottom: 25px;
        &--mobile {
            margin-bottom: 54px;
            display: block;
        }
    }
        .trainer__lists .list__link--active:before {
            content: "Trainer —";
            left: -90px;
        }
        .trainer__list {
            margin-bottom: 22px;
        }

        .trainers__content {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            position: relative;
        }
        .trainer__img {
            display: flex;
            order: 4;
            position: absolute;
            right: 29px;
            margin: 0;
            bottom: 241px;
            background: url(/img/768_trainer-bg.png) no-repeat;
            height: 207px;
            width: 207px;
        }
        .trainer__photo {
        &--desktop {
            position: absolute;
            top: -87px;
            left: -38px;
            display: initial;
        }
    }
}
@media screen and (min-width: 1920px) {
    .trainers__content {
        padding: 0;
        align-items: center;
    }
    .trainer__list .list__link--active:before {
        content: "Trainer —";
        left: -89px;
    }
    .trainer__lists {
        order: 2;
        margin: 0;
        margin-left: 109px;
        margin-top: 132px;
        margin-bottom: auto;
    }
    .trainers__bio {
        order: 4;
        margin: 0;
        margin-top: 134px;
        margin-bottom: auto;
        width: 500px;
        min-height: 400px;
    }
    .trainer__desc {
        font-size: 18px;
        width: 490px;
    }
    .trainer__name {
        margin-left: -4px;
    }
    .trainer__img--desktop {
        order: 3;
        margin: 0;
        position: relative;
        bottom: unset;
        right: unset;
        margin-left: 119px;
        margin-right: 103px;
        margin-top: 180px;
        margin-bottom: auto;
width: 335px;
height: 335px;
background-color: #ffffff;
background-image: linear-gradient(to top, #f78e6a 0%, #fc66a2 100%);
    }
    .trainer__photo--desktop {
        left: -62px;
        top: -132px
    }
}