
.trainer__photo {
    position: absolute;
    left: calc(50% - 168px / 2);
    top: -26px;
}

.trainers__content {
    display: flex;
    height: 100%;
    padding: 0;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}

.trainer__swiper {
    position: absolute;
    top: 114px;

    &--left {
        left: 0;
    }

    &--right {
        right: 0;
    }
}
.trainers__bio {
    padding: 0;
    margin: 0;
    list-style: none;
}
.trainer__img {
    width: 124px;
    margin: 0 auto;
    height: 125px;
    border-radius: 50%;
    background-image: linear-gradient(to top, #f78e6a 0%, #fc66a2 100%);
    &--desktop {
        display: none;
    }
}
.trainer__portrait {
    padding-top: 21px;
    box-sizing: border-box;
    height: 275px;
    position: relative;
    margin-bottom: 30px;
}
.trainer__photo--desktop {
    display: none;
}

.trainer__name {
    color: #000000;
    font-family: "Geometria";
    font-size: 40px;
    font-weight: 400;
    line-height: 36px;
    margin: 0;
    margin-bottom: 20px;
}

.trainer__title {

    color: #000000;
    font-family: "Geometria";
    font-size: 18px;
    font-weight: 400;
    line-height: 36px;
    margin: 0;
    margin-bottom: 35px;
}

.trainer__desc {
    color: #000000;
    font-family: "Geometria";
    font-size: 16px;
    font-weight: 300;
    line-height: 30px;
    margin-bottom: 38px;

    &--mobile {
        display: none;
    }
}
.trainer__lists {
    display: none;
}

@media screen and (min-width: 768px) {
    .trainer__swiper {
        display: none;
    }
    .trainers {
        min-width: 768px;
        min-height: 1024px;
        padding: 0 30px;
    }
    .trainers__bio {
        max-width: 415px;
        display: flex;
    }
    .trainer {
        box-sizing: border-box;
        display: block;
    }
    .trainer__lists {
display: flex;
padding: 0;
margin: 0;
margin-left: auto;
flex-direction: column;
     list-style: none;
     margin-right: 0;
    }
    .trainer__list {
        margin-bottom: 26px;
    }
    .trainer__photo {
        &--mobile {
            display: none;
        }
        &--desktop {
            display: flex;
        }
    }
    .trainer__portrait {
        display: none;
    }

    .trainer__name {
        font-size: 48px;
        margin: 0;
        margin-bottom: 25px;
    }

    .trainer__title {
        font-size: 24px;
        margin: 0;
        margin-bottom: 54px;
    }

    .trainer__desc {
        &--mobile {
            display: block;
        }
    }
        .trainer__lists .list__link--active:before {
            content: "Trainer —";
            left: -90px;
        }

        .trainers__content {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
        }
        .trainer__img {
            display: flex;
            order: 4;
            position: relative;
            margin-right: 0;
            background: url(/img/768_trainer-bg.png) no-repeat;
            height: 207px;
            width: 207px;
            margin-top: -130px;
        }
        .trainer__photo {
        &--desktop {
            position: absolute;
            top: -90px;
            left: -40px;
            display: initial;
        }
    }
}
@media screen and (min-width: 1920px) {
    .trainers__content {
        align-items: center;
    }
    .trainer__lists {
        order: 2;
        margin: 0;
        margin-left: 102px;
        margin-top: 89px;
        margin-bottom: auto;
    }
    .trainers__bio {
        order: 4;
        margin: 0;
        margin-top: 89px;
        margin-bottom: auto;
    }
    .trainer__desc {
        font-size: 18px;
        width: 465px;
    }
    .trainer__img--desktop {
        order: 3;
        margin: 0;
        margin-left: 119px;
        margin-right: 102px;
        margin-top: 132px;
        margin-bottom: auto;
width: 335px;
height: 335px;
background-color: #ffffff;
background-image: linear-gradient(to top, #f78e6a 0%, #fc66a2 100%);
    }
    .trainer__photo--desktop {
        left: -62px;
        top: -132px
    }
}